.collection .collection-item {
  display: flex;
  justify-content: space-between;
}

.collection-item .material-icons {
  cursor: pointer;
  margin-left: 8px;
}

.vote-box {
  display: flex;
  align-items: center;
}
